<!-- Product Details -->

<div class="span8">
  <div class="list-display">
    <table class="table table-striped table-condensed table-hover">
      <tr>
        <td></th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      <% @rs.each do | row | %>
      <tr>
        <td>
          <a class="btn details" href="/products/<%= row['id'] %>?q=<%= URI.escape(row['name']) %>">Details</a>
        </td>
        <td><%= row['id'] %></td>
        <td><%= row['name'] %></td>
        <td><%= row['price'] %></td>
        <td>
          <% if row['on_sale'] == "t" %>
            <img src="../../images/icon-sale.png" height=20px width=20px>
          <% end %>
        </td>
      </tr>
      <% end%>
    </table>
  </div>
</div>